<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Dgcomp">

    <select id="searchcom" parameterType="string" resultType="dgcomp">
        select * from dgcom_ where ad_idx = #{ad_idx} order by re_time DESC;
    </select>
    <select id="dglist" parameterType="com.dgcom.project.dto.Criteria" resultType="dgcomp">
         select * from (
                select idx,ad_idx,prog,com_div,cb,tex,result2,year2,month2,day2,hour2,min2
                 from dgcom_
                 <if test="keyword != null">
                    where result2 like concat('%',#{keyword},'%')
                 </if>
                  order by  year2 DESC, month2 DESC, day2 DESC, hour2 DESC,min2 DESC) as a1
         limit #{skip},#{amount}
    </select>
    <select id="total" resultType="int">
        select count(*) from dgcom_
            <if test="keyword != null">
                where result2 like concat('%',#{keyword},'%')
            </if>
    </select>

    <select id="search" resultType="dgcom">
        select * from dgconn
    </select>

    <select id="getSearchYear" parameterType="int" resultType="dgcomp">
        select * from dgcom_ where year1 = #{year1}
    </select>


</mapper>